body {font: 18px Verdana sans-serif;}

.grid {
  display: grid;
  grid-template-columns: [first] 200px [second] 1fr [center] 1fr [last];
  grid-template-rows: [first] 100px [center] 200px [last];
}

.grid,
.grid-item {
    border: 5px solid black;
}

.white {
  background: #fff;
}

.yellow {
  background: #ff0;
}

.red {
    background: #f00;
}
